body {
	font-family: "Arial";
	width: 960px;
	margin: auto;
	border: 1px solid #CCC;
	box-shadow: 10px 10px 5px #888888;
}

header {
	font-size:large;
	font-weight: bolder;
	background-color: #5ebcae;
	margin: 0px;
}

/**************************************************************
* Adapte la taille de l'image dans le header
**************************************************************/
header img {
	width: 90%;
}

header p {
		margin: 0px;
}

header h1 {
	padding-left : 20px;
	color: #fff;
}

nav {
	font-weight: bolder;
	color: #5ebcae;
}

nav a:visited, nav a:active , nav a:link{
	font-weight: bolder;
	color: #5ebcae;
	text-decoration: none;
}

article {
   width: 220px;
  height: 200px;
   display: inline-block;
   	border: 1px solid #CCC;
	box-shadow: 5px 5px 2px #AAA;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: top;
}
article h2 {
		font-size:small;
}

article img {
	   width: 100px;
}
